
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<!-- Booking -->
<section class="contact py-5">
    <div class="container py-lg-5 py-sm-4">
        <div class="contact-grids">
            <div class="row">
                <div class="col-lg-7 contact-left-form">
                    <form asp-controller="customer" asp-action="Booking" asp-route-dishId="@ViewBag.dishDetail[0].MaMa" method="post" class="row">
                        <div class="col-sm-6 form-group contact-forms">
                            <label for="name">Name:</label>
                            <input type="text" id="name" class="form-control" readonly value="@ViewBag.khachHang.TenKh" required="">
                        </div>
                        <div class="col-sm-6 form-group contact-forms">
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" class="form-control" readonly value="@ViewBag.khachHang.Sdtkh" required="">
                        </div>
                        <div class="col-sm-6 form-group contact-forms">
                            <label for="soLuong">Number of Tickets:</label>
                            <input for="soLuong" type="number" id="soLuong" name="soLuong" class="form-control" min="1" max="@ViewBag.dishDetail[0].SoLuongMa" value="0" onchange="calculateTotal()">

                        </div>
                        <div class="col-sm-6 form-group contact-forms">
                            <label for="totalPrice">Total cost:</label>
                            <input type="text" id="totalPrice" class="form-control" placeholder="Select number of ticket to see cost" value="" disabled>
                        </div>
                        <div class="col-md-12 form-group contact-forms">
                            <textarea class="form-control" placeholder="Note" rows="3"></textarea>
                        </div>
                        <div class="col-md-12 booking-button">
                            <button class="btn btn-primary">Book Now</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 contact-right pl-lg-5">
                    <div class="image-tour position-relative">
                        @{
                            String anhDish = "../Assets/images/" + ViewBag.dishDetail[0].AnhMa + ".png";
                            Double gia = (Double)@ViewBag.dishDetail[0].Gia;
                        }
                        <img src=@anhDish alt="Dish Image" class="img-fluid">
                        <p><span></span> <span>20$ - 15% off</span></p>
                    </div>
                    <br />
                    <h3>@ViewBag.dishDetail[0].TenMa</h3>
                    <p>@ViewBag.dishDetail[0].ChiTietMa </p>
                    <h6>Dish price: $@gia</h6>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Booking -->
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    function calculateTotal() {
        var numTickets = document.getElementById("soLuong").value;

        // Get the ticket price (assuming it's a constant value)
        var ticketPrice = 10;

        // Calculate the total price
        var totalPrice = numTickets * ticketPrice;

        document.getElementById("totalPrice").innerHTML = "$" + totalPrice.toFixed(2);
    }
</script>




