@{
    ViewData["Title"] = "Thank you";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";

}
    <section class="banner_inner" id="home">
        <div class="banner_inner_overlay">
        </div>
    </section>
    <h1 class="description">Booking Confirmed!</h1>
<p class="description">
    Thank you for ordering restaurant food.Your dish has been confirmed.
</p>
<p class="description">We are happy to serve you!</p>
    <div class="confirm">
        <ul>
            <li>Dish Name: <strong>@ViewBag.tenDish</strong></li>
            <li>Customer Name: <strong>@ViewBag.tenKhach</strong></li>
            <li>Phone: <strong>@ViewBag.sdt</strong></li>
            <li>Number of Dishes: <strong>@ViewBag.soLuong</strong></li>
            <li>Total Cost: <strong>$@ViewBag.tongTien.ToString("#")</strong></li>
            <li>Booked Date: <strong>@ViewBag.ngayDat</strong></li>
        </ul>
    </div>

    <section class="packages pt-5">
    </section>